

.top-grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
    padding:20px;
}



.middle-grid{
    display:grid;
    grid-template-columns:2 1fr;
    gap:20px;
    padding:20px;
}

.features{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}

.card{
    border:5px solid #ddd;
}

.card img{
    width: 25%;
    display:block;
}

.card h3{
    width:15%;
    padding:10px;
    font-size:16px;
}

.specs{
    width:15%;
    background:#efefef;
    padding:20px;
}

.specs h2{
    width:15%;
    margin-bottom:15px;
}

.specs ul{
    list-style:none;
}

.specs li{
    margin-bottom:10px;
}

.bottom-section{
    padding: 15px;
}

.hero-image img{
    width: 25%;
    display:block;
}

/* MOBILE */

@media(max-width:768px){

 .top-grid{
        grid:template-columns 2px 1fr;
    }

 .middle-grid{
        grid: template columns 2px 1fr;
    }

 .features{
        grid: template columns 2px 1fr;
    }


}