body {border-color: red;
        box-sizing: border-box;
        background-color:blue;
        font-weight: bold;

sub {font-style:italic; 
    background-color: red;
    color: white;
}

    @media screen and (max-width:240px) {
 h2 {
        font-weight: bold;
        font-size: 36em;
        text-align: center;
    }

img.small{
        max-height: 20px;
        max-width: 20px;
    }

.toggle-button{
            display: block;
    }

.navbar{
        display: none;
        flex-direction: column;

    }
}